@tailwind base;
@tailwind utilities;
@tailwind components;


.buttona:active{
  background-color: rgb(165, 227, 165);
}
.buttond:active{
  background-color: rgb(225, 172, 172);
}

.h-tweet{
  height: 500px;
}

.h-part{
  height: 400px;
}

#tweetCard::-webkit-scrollbar {
  display: none;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  display: none;
}